# RESOURCES
* GitHub repository for the series: https://github.com/justmarkham/pandas...
* pandas main page: http://pandas.pydata.org/
* pandas installation instructions: http://pandas.pydata.org/pandas-docs/...
* Anaconda distribution of Python: https://www.continuum.io/downloads
* How to use the IPython/Jupyter notebook: https://youtu.be/IsXXlYVBt1M?t=5m17s

# Definitions
* __DataFrame__: Its just table with rows and columns
* __Series__: Each of the Columns from DataFrame is called panda series
* Important functions
    * read_csv : read , seperated file
    * read_table: read /t seperated file
    * head(): check top 5 rows
    * type: Data Type
    * describe(): return statical info like mean etc
    * shape: provides the shape of dataframe. number of rows, number of cols
    * dtypes: datatypes of each column

In [151]:
import pandas as pd

# DataFrame, read_table

In [175]:
#easy
orders = pd.read_table('http://bit.ly/chiporders') #default values of read_table is /t seperated and first column is header
print(type(orders))
print(orders.shape)
orders.head()

<class 'pandas.core.frame.DataFrame'>
(4622, 5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

__Read only few columns and few rows. it will make faster__

In [178]:
fewCols=['quantity','item_name']
ordersFewColumns = pd.read_table('http://bit.ly/chiporders',usecols=fewCols,nrows=5)
print(type(ordersFewColumns))
print(ordersFewColumns.shape)
ordersFewColumns.head()

<class 'pandas.core.frame.DataFrame'>
(5, 2)

   quantity                              item_name
0         1           Chips and Fresh Tomato Salsa
1         1                                   Izze
2         1                       Nantucket Nectar
3         1  Chips and Tomatillo-Green Chili Salsa
4         2                           Chicken Bowl

In [ ]:
__Remove non-numeric columns__

In [182]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
print(drinks.dtypes)

import numpy as np
drinks.select_dtypes(include=(np.number)).dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [153]:
#bit difficult
users=pd.read_table('http://bit.ly/movieusers',sep='|',header=None)
print("Without Headers")
users.head()

Without Headers

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [154]:
#Above no column names, below we are specifying colnames
headers=['Id','Age','Gender','Profession','ZipCode']
usersWithHeaders=pd.read_table('http://bit.ly/movieusers',sep='|',header=None,names=headers)
print("With Headers")
usersWithHeaders.head()

With Headers

   Id  Age Gender  Profession ZipCode
0   1   24      M  technician   85711
1   2   53      F       other   94043
2   3   23      M      writer   32067
3   4   24      M  technician   43537
4   5   33      F       other   15213

# Series

In [155]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [156]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [157]:
#Add new series(column) in dataframe
ufo['Location']=ufo['City'] + ',' + ufo['State']
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"

In [158]:
ufo.describe()

,City,Colors Reported,Shape Reported,State,Time,Location
count,18216,2882,15597,18241,18241,18216
unique,6476,27,27,52,16145,8029
top,Seattle,RED,LIGHT,CA,11/16/1999 19:00,"Seattle,WA"
freq,187,780,2803,2529,27,187

In [159]:
ufo.shape

(18241, 6)

In [160]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
Location           object
dtype: object

# Change column names

# Before

In [161]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

__Method 1__

In [162]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo.rename(columns={'Colors Reported':'ColorsReported'},inplace=True)
ufo.columns

Index(['City', 'ColorsReported', 'Shape Reported', 'State', 'Time'], dtype='object')

__Method 2__

In [163]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
cols=['City','ColorsReported','ShapeReported','State','Time']
ufo.columns=cols
ufo.columns

Index(['City', 'ColorsReported', 'ShapeReported', 'State', 'Time'], dtype='object')

__Method 3__

In [164]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo.columns=ufo.columns.str.replace(' ','_')
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

# Remove Columns

In [165]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

__Method 1__

In [166]:
ufo.drop('Colors Reported',axis=1,inplace=True)
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

__Method 2__

In [167]:
ufo.drop(['City','State'],axis=1,inplace=True)
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

# Remove Rows

In [168]:
ufo = pd.read_csv('http://bit.ly/uforeports') 
ufo.head()
ufo.columns
ufo.drop([0,1],axis=0,inplace=True)
ufo.head()

                   City Colors Reported Shape Reported State             Time
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
5           Valley City             NaN           DISK    ND  9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA   6/15/1935 0:00

# Sort Series

In [169]:
movies= pd.read_csv('http://bit.ly/imdbratings')

In [170]:
movies.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

In [171]:
print(movies.star_rating.min())
print(movies.star_rating.max())
print(movies.star_rating.sort_values())

7.4
9.3
978    7.4
950    7.4
949    7.4
948    7.4
947    7.4
946    7.4
945    7.4
944    7.4
943    7.4
942    7.4
941    7.4
940    7.4
939    7.4
938    7.4
937    7.4
936    7.4
935    7.4
934    7.4
933    7.4
932    7.4
931    7.4
930    7.4
951    7.4
952    7.4
977    7.4
954    7.4
953    7.4
976    7.4
975    7.4
974    7.4
      ...
36     8.6
37     8.6
38     8.6
39     8.6
32     8.6
17     8.7
15     8.7
16     8.7
18     8.7
24     8.7
20     8.7
21     8.7
22     8.7
23     8.7
19     8.7
14     8.8
13     8.8
12     8.8
11     8.8
10     8.8
4      8.9
5      8.9
9      8.9
7      8.9
8      8.9
6      8.9
3      9.0
2      9.1
1      9.2
0      9.3
Name: star_rating, Length: 979, dtype: float64

# Sort DataFrame by series

In [172]:
movies= pd.read_csv('http://bit.ly/imdbratings')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

__Sort by one column__

In [173]:
movies.sort_values('title')

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
596,7.7,21 Grams,R,Crime,124,"[u'Sean Penn', u'Benicio Del Toro', u'Naomi Wa..."
624,7.7,25th Hour,R,Crime,135,"[u'Edward Norton', u'Barry Pepper', u'Philip S..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
225,8.1,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-..."
570,7.8,300,R,Action,117,"[u'Gerard Butler', u'Lena Headey', u'David Wen..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
427,7.9,"4 Months, 3 Weeks and 2 Days",NOT RATED,Drama,113,"[u'Anamaria Marinca', u'Vlad Ivanov', u'Laura ..."
824,7.5,42,PG-13,Biography,128,"[u'Chadwick Boseman', u'T.R. Knight', u'Harris..."
597,7.7,50/50,R,Comedy,100,"[u'Joseph Gordon-Levitt', u'Seth Rogen', u'Ann..."
203,8.1,8 1/2,NOT RATED,Drama,138,"[u'Marcello Mastroianni', u'Anouk Aim\xe9e', u..."
170,8.2,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'Ed Harris', u'Jennifer Co..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
571,7.8,A Bronx Tale,R,Crime,121,"[u'Robert De Niro', u'Chazz Palminteri', u'Lil..."
266,8.1,A Christmas Story,PG,Comedy,94,"[u'Peter Billingsley', u'Melinda Dillon', u'Da..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
716,7.6,A Few Good Men,R,Drama,138,"[u'Tom Cruise', u'Jack Nicholson', u'Demi Moore']"
750,7.6,A Fish Called Wanda,R,Comedy,108,"[u'John Cleese', u'Jamie Lee Curtis', u'Kevin ..."
276,8.1,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u'Gian Maria Volont\xe9', ..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
883,7.5,A History of Violence,R,Crime,96,"[u'Viggo Mortensen', u'Maria Bello', u'Ed Harr..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
865,7.5,A Perfect World,PG-13,Crime,138,"[u'Kevin Costner', u'Clint Eastwood', u'Laura ..."
426,7.9,A Prophet,R,Crime,155,"[u'Tahar Rahim', u'Niels Arestrup', u'Adel Ben..."
...,...,...,...,...,...,...
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
562,7.8,What's Eating Gilbert Grape,PG-13,Drama,118,"[u'Johnny Depp', u'Leonardo DiCaprio', u'Julie..."
719,7.6,When Harry Met Sally...,R,Comedy,96,"[u'Billy Crystal', u'Meg Ryan', u'Carrie Fisher']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
669,7.7,Who Framed Roger Rabbit,PG,Animation,104,"[u'Bob Hoskins', u'Christopher Lloyd', u'Joann..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."
270,8.1,Wings of Desire,PG-13,Drama,128,"[u'Bruno Ganz', u'Solveig Dommartin', u'Otto S..."
483,7.8,Withnail & I,R,Comedy,107,"[u'Richard E. Grant', u'Paul McGann', u'Richar..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
518,7.8,Wreck-It Ralph,PG,Animation,101,"[u'John C. Reilly', u'Jack McBrayer', u'Jane L..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
532,7.8,X-Men: First Class,PG-13,Action,132,"[u'James McAvoy', u'Michael Fassbender', u'Jen..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
695,7.7,Y Tu Mama Tambien,R,Drama,106,"[u'Maribel Verd\xfa', u'Gael Garc\xeda Bernal'..."
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
235,8.1,Yip Man,R,Action,106,"[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']"
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
280,8.1,Young Frankenstein,PG,Comedy,106,"[u'Gene Wilder', u'Madeline Kahn', u'Marty Fel..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."

__Sort by multiple columns__

In [174]:
movies.sort_values(['title','star_rating'])

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
596,7.7,21 Grams,R,Crime,124,"[u'Sean Penn', u'Benicio Del Toro', u'Naomi Wa..."
624,7.7,25th Hour,R,Crime,135,"[u'Edward Norton', u'Barry Pepper', u'Philip S..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
225,8.1,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-..."
570,7.8,300,R,Action,117,"[u'Gerard Butler', u'Lena Headey', u'David Wen..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
427,7.9,"4 Months, 3 Weeks and 2 Days",NOT RATED,Drama,113,"[u'Anamaria Marinca', u'Vlad Ivanov', u'Laura ..."
824,7.5,42,PG-13,Biography,128,"[u'Chadwick Boseman', u'T.R. Knight', u'Harris..."
597,7.7,50/50,R,Comedy,100,"[u'Joseph Gordon-Levitt', u'Seth Rogen', u'Ann..."
203,8.1,8 1/2,NOT RATED,Drama,138,"[u'Marcello Mastroianni', u'Anouk Aim\xe9e', u..."
170,8.2,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'Ed Harris', u'Jennifer Co..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
571,7.8,A Bronx Tale,R,Crime,121,"[u'Robert De Niro', u'Chazz Palminteri', u'Lil..."
266,8.1,A Christmas Story,PG,Comedy,94,"[u'Peter Billingsley', u'Melinda Dillon', u'Da..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
716,7.6,A Few Good Men,R,Drama,138,"[u'Tom Cruise', u'Jack Nicholson', u'Demi Moore']"
750,7.6,A Fish Called Wanda,R,Comedy,108,"[u'John Cleese', u'Jamie Lee Curtis', u'Kevin ..."
276,8.1,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u'Gian Maria Volont\xe9', ..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
883,7.5,A History of Violence,R,Crime,96,"[u'Viggo Mortensen', u'Maria Bello', u'Ed Harr..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
865,7.5,A Perfect World,PG-13,Crime,138,"[u'Kevin Costner', u'Clint Eastwood', u'Laura ..."
426,7.9,A Prophet,R,Crime,155,"[u'Tahar Rahim', u'Niels Arestrup', u'Adel Ben..."
...,...,...,...,...,...,...
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
562,7.8,What's Eating Gilbert Grape,PG-13,Drama,118,"[u'Johnny Depp', u'Leonardo DiCaprio', u'Julie..."
719,7.6,When Harry Met Sally...,R,Comedy,96,"[u'Billy Crystal', u'Meg Ryan', u'Carrie Fisher']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
669,7.7,Who Framed Roger Rabbit,PG,Animation,104,"[u'Bob Hoskins', u'Christopher Lloyd', u'Joann..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."
270,8.1,Wings of Desire,PG-13,Drama,128,"[u'Bruno Ganz', u'Solveig Dommartin', u'Otto S..."
483,7.8,Withnail & I,R,Comedy,107,"[u'Richard E. Grant', u'Paul McGann', u'Richar..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
518,7.8,Wreck-It Ralph,PG,Animation,101,"[u'John C. Reilly', u'Jack McBrayer', u'Jane L..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
532,7.8,X-Men: First Class,PG-13,Action,132,"[u'James McAvoy', u'Michael Fassbender', u'Jen..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
695,7.7,Y Tu Mama Tambien,R,Drama,106,"[u'Maribel Verd\xfa', u'Gael Garc\xeda Bernal'..."
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
235,8.1,Yip Man,R,Action,106,"[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']"
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
280,8.1,Young Frankenstein,PG,Comedy,106,"[u'Gene Wilder', u'Madeline Kahn', u'Marty Fel..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."